<h1 class="my-3">Login</h1>

<% if(errorMessage){ %>
    <div class="alert alert-danger" role="alert">
        <%= errorMessage %>
    </div>
<% } %>

<div class="col-md-6">
    <form class="row g-3" method="post" action="/login"> 
        <div>
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
        </div>

        <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Your Password">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>